<style>
    footer .f-item .address li i {
        color: #AB1211;
        background: none;
    }

    .footer .site-heading h2 {
        font-size: 30px
    }

    footer .container {
        border-top: 1px solid #e7e7e7;
        padding-top: 50px;
    }

    .google-maps iframe {
        width: 450px;
        height: 300px
    }

    @media (max-width: 576px) {
        .google-maps iframe {
            width: 95vw;
        }
    }
</style>

<footer class="default-padding bg-light">
    <div class="container">
        <div class="f-items" id="contact">
            <div class="site-heading single text-center">
                <h2>Contatti</h2>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <div class="google-maps">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.8571524204235!2d13.492721515866782!3d43.27536837913602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132df4e092f004bd%3A0xc02b4ffbc3c49b92!2sComputer&#39;s%20Technology!5e0!3m2!1sen!2sit!4v1640878869249!5m2!1sen!2sit"
                            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="f-item twitter-widget">
                        <div class="address">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-home"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Indirizzo:</h5>
                                        <span>Via Cluentina, 26/B <br>Loc. Piediripa di Macerata (MC)<br> 62100</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Email:</h5>
                                        <span><a href="mailto:info@ctech.it">info@ctech.it</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Telefono:</h5>
                                        <span>Tel. 0733.281142 / 292776 </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2021. All Rights Reserved by <strong>Computer's Technology</strong></p>
                    </div>
                    <!-- <div class="col-lg-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms of user</a>
                            </li>
                            <li>
                                <a href="#">License</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>

<!-- jQuery Frameworks
    ============================================= -->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/modernizr.custom.13711.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/count-to.js"></script>
<script src="assets/js/bootsnav.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>