<style>
    footer {
        padding-top: 100px;
    }

    footer .f-item .address li i {
        color: #D23838;
        background: none;
    }

    .contact-us-area .address-items .info li i.fas {
        color: #D23838;
    }

    .contact-us-area .contact-form button {
        background: #D23838 none repeat scroll 0 0
    }

    .contact-us-area .contact-form button:hover {
        background: #AB1211 none repeat scroll 0 0
    }

    .footer .site-heading h2 {
        font-size: 30px
    }

    .site-heading h2::before {
        background: darkgrey none repeat scroll 0 0;
    }

    #contact {
        border-top: 1px solid #e7e7e7;
        padding-top: 50px;
    }

    .google-maps iframe {
        width: 450px;
        height: 300px
    }

    @media (max-width: 576px) {
        .google-maps iframe {
            width: 95vw;
        }
    }

    .checkbox-group {
        display: flex;
        flex-direction: row;
    }

    .checkbox-group input[type=checkbox] {
        margin-right: 10px;
    }
</style>

<footer class="bg-light" id="footer">
    <div class="container">
        <div id="contact" class="contact-us-area default-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h2>Contatti</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 address">
                        <div class="address-items">
                            <h4>I nostri indirizzi</h4>
                            <ul class="info">
                                <li>
                                    <i class="fas fa-map-marked-alt"></i>
                                    <span>Via Cluentina, 26/B <br>Loc. Piediripa di Macerata (MC)<br>
                                        62100</span>
                                </li>
                                <li>
                                    <a href="tel:0733281142">
                                        <i class="fas fa-phone"></i>
                                        <span>0733.281142 / 292776</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:info@ctech.it">
                                        <i class="fas fa-envelope-open"></i>
                                        <span>info@ctech.it</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="google-maps">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.8571524204235!2d13.492721515866782!3d43.27536837913602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132df4e092f004bd%3A0xc02b4ffbc3c49b92!2sComputer&#39;s%20Technology!5e0!3m2!1sen!2sit!4v1640878869249!5m2!1sen!2sit"
                                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 contact-form">
                        <h2>Richiedi una consulenza gratuita!</h2>
                        <h4>Verrai ricontattato entro le prossime 24-48 ore.</h4>
                        <form action="assets/mail/contact.php" method="POST" class="contact-form">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Nome*"
                                            type="text" required>
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="company" name="company" placeholder="Azienda*"
                                            type="text" required>
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*"
                                            type="email" required>
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone" placeholder="Telefono*"
                                            type="text" required>
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="comments"
                                            placeholder="Quali servizi ti interessano? *" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="checkbox-group">
                                        <input type="checkbox" id="required_consent" name="required_consent" checked
                                            required>
                                        <label for="required_consent">Dichiaro di aver preso visione dell' <a
                                                href="assets/attachments/privacy-policy.pdf"
                                                target="_blank">informativa</a>
                                            e di prestare il consenso al trattamento dei miei dati personali
                                            per le finalità ivi indicate</label>
                                    </div>
                                    <div class="checkbox-group">
                                        <input type="checkbox" id="optional_consent" name="optional_consent" checked>
                                        <label for="optional_consent">Presto il consenso al trattamento dei miei dati
                                            personali per finalità promozionali</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row align-center">
                                    <button type="submit" name="submit" id="submit">
                                        Invia <i class="fa fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Alert Message -->
                            <div class="col-lg-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; Copyright 2022. Tutti i diritti riservati da <strong>Computer's Technology</strong>, Via
                        Cluentina 26/b - 62100 Macerata (MC), C.F. e P.IVA: 00840390439 <a
                            href="assets/attachments/privacy-policy.pdf" target="_blank">Privacy Policy</a>
                        <!-- <a 
                            href="assets/attachments/cookies-policy.pdf" target="_blank">Cookie Policy</a> -->
                    </p>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>

<module href="/components/footer-scripts.html"></module>