<style>
    @media (min-width: 1023px) {
        .navbar-header {
            float: right;
        }

        #navbar-menu {
            float: left;
        }
    }
</style>

<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-sticky bootsnav on no-full">



        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" class="logo logo-scrolled" alt="Logo" width="160">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                    <li>
                        <a class="smooth-menu" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="smooth-menu" href="azienda.html">Azienda</a>
                    </li>
                    <li class="dropdown dropdown-right">
                        <a href="#home" class="dropdown-toggle smooth-menu" data-toggle="dropdown">Soluzioni</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-right">
                                <a href="#home" class="dropdown-toggle smooth-menu" data-toggle="dropdown">Impresa</a>
                                <ul class="dropdown-menu">
                                    <li><a href="arca.html">Arca Evolution</a></li>
                                    <li><a href="winwaste.html">WinWaste - Gestione Rifiuti</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-right">
                                <a href="#home" class="dropdown-toggle smooth-menu"
                                    data-toggle="dropdown">Commercialisti</a>
                                <ul class="dropdown-menu">
                                    <li><a href="osra-bpoint.html">OSRA - BPoint</a></li>
                                    <li><a href="osra-genya.html">Osra - Genya</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="smooth-menu" href="contatti.html">Contatti</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- End Navigation -->

</header>